body{
	background-color: #f1f1f1;
}

.clear-fix{zoom: 1;}
.clear-fix:after{ content:''; display: block; clear: both;}
.fl{ float: left; }
.fr{ float: right; }
.color{color: #ff4400}
a{color: #6c6c6c;}
a:hover{
	color: #ff4400;
}
@font-face {
	font-family: 'global-font';
	src:  url('../fonts/font_1404888168_2057645.eot');
	src:  url('../fonts/font_1404888168_2057645.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/font_1404888168_2057645.ttf') format('truetype'),
	url('../fonts/font_1404888168_2057645.woff') format('woff'),
	url('../fonts/font_1404888168_2057645.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-font{
/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'global-font' !important;
	font-style: normal;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'self-font';
	src:  url('../fonts/selfFonts/selfIcon.eot');
	src:  url('../fonts/selfFonts/selfIcon.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/selfFonts/selfIcon.ttf') format('truetype'),
	url('../fonts/selfFonts/selfIcon.woff') format('woff'),
	url('../fonts/selfFonts/selfIcon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.self-font{
	font-family: 'self-font' !important;
	font-style: normal;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.all{
	transition: .5s;
}
.wrap{
	width: 1190px;
	margin: 0 auto;
}
#header{
	border-bottom: 1px solid #eeeeee;
}
#header ul{
	padding: 0 6px 0 9px;
}
#header li{ 
	float: left;
	height:35px;
	line-height:35px;
}
#header .fl a{
	vertical-align: top;
	display:block;
}
#header .mobile{ 
	padding-left: 20px; 
}

.header-nav li{
	border-width: 0 1px;
	border-color: transparent;
}
.header-nav .header-nav-item-hd{
	z-index: 10002;
	position: relative;
	height:35px;
	line-height:35px;
	padding:0 5px;
	border-width: 0px 1px;
	border-color: transparent;
	border-style: solid;
}

.header-nav .header-nav-item-hd a{	
	height:35px;
	float: left;
	margin-right: 7px;
}
.header-nav .icon-wrap{
	margin-top: 16px;
	float: left;
	width: 12px;
	line-height: 10px;
	overflow: hidden;
}
.icon-wrap .icon-font{
	display: block;
	margin-top: -6px;
}
#header .color{
	padding-right: 8px;
}
.header-nav-item-hover .header-nav-item-hd{
	background-color: #fff;
	border-color: #eee;
}
.header-nav-item-hover .header-nav-item-menu-wrap, .header-nav-item-hover #site-navs{
	display: block;
}
#header a:hover .icon-font{ 
	color: #ff4400; 
}
#header b{
	color: #f22e00;
}
#header span{
	margin-right: 5px;
	color: #9c9c9c;
	font-size: 12px;
}
#header .icon-lighthigh{
	color: #ff4400;
}
.header-nav-item-menu-wrap{
	position: relative;
	z-index: 10001;
	margin-top: -1px;	
	display: none;
}
.header-nav-item-menu{
	position: absolute;
	left: 0;
	top: 0;
	padding:0 6px;
	border: 1px solid #eee;
	background-color: #fff;

}
.header-nav-item-menu a{
	display: block;
	white-space: nowrap;
}


/*******************************************/
#site-navs{
	*left: 100%; /*ie下不确定宽度元素中嵌套不确定宽度relative定位元素，定位元素宽度为0*/
}
.navs-wrap{
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid #eee;
	width: 1188px;
	background-color: #fff;
}
.navs-mod{
	float: left;
	width: 25%;
}
.navs-mod-wrap{
	border-right: 1px solid #eee;
}
.navs-mod h4{
	height: 26px;
	line-height:26px;
	padding-top: 7px;
	text-indent: 10px;
	font-size: 16px;
	font-weight: 700;
}

#header .navs-mod ul{
	overflow: hidden;
	*zoom: 1;
	padding: 6px 0 0 7px;
}
#header .navs-mod li{
	height: 30px;
}
.navs-mod .hot{
	position: absolute;
	right: 0px;
	top: -5px;
	width: 10px;
	height: 14px;
	background: url(../img/hot-bg.gif);
}
.navs-mod li a{
	position: relative;
	float: left;
	padding: 0 8px;
	height: 25px;
	line-height: 25px;
	color: #3c3c3c;
	border-radius: 3px;
}
.navs-mod li a:hover{
	color: #fff;
}
.navs-mod1 h4{
	color: #fc4200;
}
.navs-mod1 li{
	width: 24%;
}
.navs-mod1 li a:hover{
	background-color: #ff5500;
}
.navs-mod2 h4{
	color: #9fb838;
}
.navs-mod2 li{
	width: 33%;
}
.navs-mod2 li a:hover{
	background-color: #a0b959;
}
.navs-mod3 h4{
	color: #d75696;
}
.navs-mod3 li{
	width: 33%;
}
.navs-mod3 li a:hover{
	background-color: #df61ab;
}
.navs-mod4 .navs-mod-wrap{
	border-right: none;
}
.navs-mod4 h4{
	color: #2e9fdb;
}
.navs-mod4 li{
	width: 49%;
}
.navs-mod4 li a:hover{
	background-color: #52a0e5;
}



/***********************************************************************/
#search{
	background-color: #fff;
	padding-top: 30px;
	height: 100px;
}
.logo{
	padding: 8px 0 0 22px;
}
.tab-search{
	position: relative;
	z-index: 100;
	margin-left: 266px;
	margin-right: 298px;
}
/**************************************************************************/
.tab-btns{
	overflow: hidden;
	*zoom: 1;
}
.tab-btns li{
	float:left;
	width: 50px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #ff4400;
	cursor: pointer;
}
.tab-btns li:hover{
	background-color: #ffeee5;
}
.tab-btns .tm-btn:hover{
	color: #c60000;
}
.tab-btns .active, .tab-btns .tm-active{
	font-weight: bold;
	color: #fff;
}
.tab-btns .active, .tab-btns .active:hover{
	background-color: #ff4400;
	color: #fff;
}
.tab-btns .tm-active, .tab-btns .tm-active:hover{
	background-color: #c60000;
	color: #fff;
}
/***************************************************************/
.form-wrap{
	position: relative;
}
.placeholder{
	position: absolute;
	top: 25%;
	left: 16px;
	color: #9c9c9c;
	cursor: text;
}
.search-icon{
	color: #ccc;
	font-family: 'icon';
	font-size: 16px;
	font-style: normal;
	vertical-align: middle;
}
.camera-icon{
	position: absolute;
	right: 132px;
	top: 35%;
	display: block;
	width: 18px;
	height: 18px;
	background: url(../img/camera-bg.png) no-repeat;
}
.camera-icon:hover{
	background-position-x: -22px;
}
.camera-icon label{
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
#upload{
	display: none;
}
.search-form .text{
	width: 500px;
	height: 34px;
	border: 3px solid #ff5500;
	border-right: none;
	font-size: 12px;
	outline: none;
	text-indent: 12px;
	line-height: 100%;
	float: left;
}
.search-form .btn{
	width: 122px;
	height: 40px;
	background-color: #ff4200;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
}
.search-form-tmall .text{
	border-color: #c60000;
}
.search-form-tmall .btn{
	background-color: #c60000;
}
.search-tips{
	width: 24px;
	line-height: 18px;
	position: absolute;
	right: -34px;
	bottom: 34px;
}
.option-item{
	height:28px;
	padding-top: 4px;
	font-size: 0px;
	position: relative;
}
.option-item a{
	font-size: 12px;
	margin-right: 6px;
}
.option-item .more{
	position: absolute;
	right:0;
}
#search a:hover{
	color: #ff4400;
}

/********************************************************************************/
.search-fixed{
	position: fixed;
	top: 0;
	width: 100%;
	padding: 9px 0 7px;
	background-color: #fff;
	z-index: 10000;
	box-shadow: 0px 0px 4px #000;
}
.search-fixed .search-tips{
	display: none;
}
.search-fixed .option-item{
	display: none;
}
.search-fixed .logo {
	padding: 0;
}
.search-fixed .logo img{
	width: 80px;
}
.search-fixed .text{
	height: 29px;
	text-indent: 82px;
}
.search-fixed  .btn{
	height: 35px;
}
.search-fixed .tab-btns{
	position: absolute;
	left: 3px;
	top: 3px;
	z-index: 102;
	width: 73px;
	height: 25px;
	padding-top: 2px;	
	border: 1px solid #e5e5e5;
	background-color: #f6f6f6;
}
.search-fixed .tab-btns-hover{
	height: auto;
}
.search-fixed .tab-btns li{
	float: none;
	width: 100%;
	height: 25px;
	color: #ff4400;
	line-height: 25px;
	font-weight: normal;
}
.search-fixed .tab-btns li:hover{
	background-color: transparent;
}
.search-fixed .tab-btns .active, .search-fixed .tab-btns .active:hover,.search-fixed .tab-btns .tm-active{
	background-color: transparent;
	color: #3c3c3c;
}
.search-fixed .placeholder{
	left: 85px;
	top: 8px;
}
/**********************************************************/
#nav{
	background-color: #fff;
	height: 34px;
} 
#nav .fl{
	position: relative;
	z-index: 1001;
	width: 190px; /*设置宽度，以免在ie下出现布局复杂触发haslayout*/
}
.nav-items{
	width: 190px;
	color: #fff;
	background-color: #ff5b02;
	padding-bottom: 2px;
}
.nav-items dt{
	font-size: 14px;
	height: 33px;
	text-indent: 10px;
	line-height: 33px;
	font-weight: bold;
	background: url(../img/nav-item-bg.gif) no-repeat 166px center;
}                          
.nav-items dd {
	position: relative;
	height: 30px;
	line-height: 30px;
	padding: 0 8px 0 11px;
	font-size: 12px;
	letter-spacing: 0;
}
.nav-items .hover{
	background-color: #f94a14;
}
.nav-items .hover .nav-items-icon{
	opacity: 1;
	font-weight: bold;
}
.nav-items-icon{
	font-family: 'icon';
	font-style: normal;
	font-size: 18px;
	font-weight: 200;
	opacity: 0.4;
	filter: alpha(opacity=60);
	vertical-align: -6%;
	transition: 0.3s opacity;
}
.left-icon{
	position: absolute;
	right: 14px;/*ie6,7下右浮动换行bug*/
	font-family: 'self-font';
	font-weight: bold;
}
.nav-items a{
	color: #fff;
	font-weight: bold;
}
.nav-items a:hover{
	text-decoration: underline;
}

/*********************************************************/
.category{
	position: absolute;
	left: 188px;
	top: 33px;
	width: 710px;
	height: 518px;
	border: 2px solid #f94a14;
	box-shadow: 2px 2px 0px 0px #dcdadb;
	display: none;
}
.category-item{
	display: none;
	background-color: #fff;
}
.category-links-wrap{
	float: left;
	width: 427px;
	padding: 0 10px 35px 18px;
}
.category-links{
	padding-top: 23px;
}
.category-links h5{
	border-bottom: 1px solid #e0e0e0;
	font-size: 14px;
}
.category-links h5 a{
	line-height: 22px;
	color: #3c3c3c;
	vertical-align: bottom;
}
.category-links h5 a:hover{
	color: #ff4400;
}
.category-links h5 img{
	width: 30px;
	height: 30px;
	padding-right: 6px;
}
.category-links h5 .more{
	float: right;
	margin-top: 8px;
	font-size: 12px;
	font-weight: normal;
}
.category-links .category-links-con{
	padding-top: 9px;
	height: 98px;
}
.category-links-con a{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: 16px;
	line-height: 24px;
	white-space: nowrap;
}
.category-recommend{
	float: right;
	width: 255px;
	padding-top: 17px;
	background-color: #f4f4f4;
}
.category-recom-hd{
	position: relative;
	width: 90px;
	height: 20px;
	margin:0 auto;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	color: #3c3c3c;	
}
.recommend-icon{
	font-family: 'icon';
	color: #dd4410;
	font-style: normal;
	font-size: 16px;
	letter-spacing: 4px;
}
.category-recom-hd:before, .category-recom-hd:after{
	content: '';
	position: absolute;
	top: 50%;
	width: 45px;
	border-top: 1px solid #e6e6e6;
}
.category-recom-hd:before{
	left: -45px;
}
.category-recom-hd:after{
	right: -45px;
}
.category-recommend-bd{
	padding:0 0 31px 15px;
}
.category-recommend-bd p{
	text-align: center;
	color: #999;
}
.category-recommend-bd .pics a{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 110px;
	height: 110px;
	margin: 17px 8px 17px 0;
	position: relative;
}
.category-recommend-bd .pics .goods-name{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 17px;
	padding-top: 7px;
	text-align: center;
	color: #666;
	background-color: #fff;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.category-recommend-bd .pics a:hover .goods-name{
	opacity: 1;
	filter: alpha(opacity=100);
	color: #ff4400;
}

/************************************************************/
.nav-list{
	height: 34px;
	margin-left: 200px;
	font-size:0;
}
.nav-list li{
	display: inline-block;
	padding: 2px 2px 0;
	*zoom:1;
	*display: inline;
	vertical-align: top;
}
.nav-list a{
	display: block;
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	color: #3c3c3c;
	font-size: 14px;
	border-radius: 12px;
	font-weight: bold;
}
.nav-list .color{
	font-size: 16px;
	color: #ff4400;
}
.nav-list a:hover{
	background-color: #ff4400;
	color: #fff;
}



/*****************************************************************/
#content{
	width: 1190px;
	margin: 0 auto;
	padding-top: 10px;
}
.main{ 
	width: 890px;
	padding-right: 10px;
	margin-left: -190px;
	*margin-left: 0;
	overflow: hidden;
	*zoom: 1;
}
.promo{
	margin-left: 200px;
}
.promo-center{
	width: 520px;
}
.promo-center .next-btn, .promo-center .prev-btn{
	position: absolute;
	top: 50%;
	z-index: 1001;
	display:none;
	margin-top: -18px;
	font-family: 'icon';
	font-size: 14px;
	width: 24px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	color: #fff;
	background-color: rgba(0, 0, 0, .3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e000000', endColorstr='#1e000000',GradientType=0 );
}
.promo-center .prev-btn{
	left: -1px;
}
.promo-center .next-btn{
	right: -1px;
}
.promo-center .next-btn:hover, .promo-center .prev-btn:hover{
	background-color: rgba(0, 0, 0, .6);
}
.pics-play{ 
	width: 520px; 
	height: 280px;
	overflow: hidden;
	position: relative;
}
.pics-list{ 
	position: absolute;
	left: 0px;
	top: 0px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
}
.pics-list li{ 
	position: relative;
	float: left;
	width: 520px
}
.pics-list li a{
	display: block;
}
.pics-list img{
	width: 520px; 
	height: 280px; 
}
.promo-nav{
	height: 13px;
	line-height: 13px;
	background-color: rgba(255, 255, 255, .3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1effffff', endColorstr='#1effffff',GradientType=0 );
	border-radius: 7px;
	position: absolute;
	left: 50%;     /* 需要js*/
	bottom: 15px;
	margin-left: -36px;
	font-size: 0;
}
.promo-nav span{
	width: 9px;
	height: 9px;
	background: #b7b7b7;
	border-radius: 4px;
	display: inline-block;
	margin: 2px 2px 0;
	cursor: pointer;
}
.promo-nav .active{
	background-color: #ff4400;
}
.target{
	width: 24px;
	height: 14px;
	line-height: 14px;
	color: #cac9c6;
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity=40);
	border-top-right-radius: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.tmall-play{
	margin-top: 10px;
	position: relative;
}
.tmall-play .title{
	height: 18px;
	text-indent: 48px;
	border-bottom: 2px solid #c12c26;
	background: url(../img/tmall.gif) no-repeat -4px bottom;
	font-size: 0;
}
.title strong{
	font-size: 14px;
	color: #3c3c3c;
}
.title span{
	font-size: 12px;
	color: #666666;
	font-weight: normal;
}

.tmall-list{
	width: 521px;
	height: 202px;
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	font-size: 0;
}
.tmall-col-3 a{
	width: 128px;
	height: 200px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	border-left: 1px solid #ebebeb;
}
.tmall-col-3 a:first-child{
	border-left: none;
}
.promo-ad-b{
	margin-top: 14px;
}
.promo-ad-b h4{
	font-weight: normal;
	color: #a1a1a1;
}
.bottom-ad{
	width: 890px;
	height: 76px;
	background: #fff;
	font-size: 0;
	margin-top: 10px;
}
.bottom-ad a{ 
	display: inline-block; 
	*display: inline;
	*zoom: 1;
	width: 20%;
	height: 76px;
}
.bottom-ad img{
	width: 60px;
	height: 60px;
	float: left;
	border: 1px solid #efefef;
	border-radius: 50%;
	margin: 8px 8px 0;
}
.bottom-ad strong{
	padding-top: 10px;
	font-size: 16px;
}
.bottom-ad span{
	font-size: 12px;
	font-weight: normal;
}
.bottom-ad em{
	font-style: normal;
	color: #999999;
	font-size: 12px;
}
.bottom-ad strong,.bottom-ad span, .bottom-ad em{
	display: block;
}
.bottom-ad .col-1 strong, .bottom-ad .col-1 span{
	color: #9a745f;
}
.bottom-ad .col-2 strong, .bottom-ad .col-2 span{
	color: #81c18f;
}
.bottom-ad .col-3 strong, .bottom-ad .col-3 span{
	color: #72a5f6;
}
.bottom-ad .col-4 strong, .bottom-ad .col-4 span{
	color: #846fc7;
}
.bottom-ad .col-5 strong, .bottom-ad .col-5 span{
	color: #de525e;
}
.bottom-ad a:hover img{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.bottom-ad .col-1:hover img{
	border-color: #9a745f;
}
.bottom-ad .col-2:hover img{
	border-color: #81c18f;
}
.bottom-ad .col-3:hover img{
	border-color: #72a5f6;
}
.bottom-ad .col-4:hover img{
	border-color: #846fc7;
}
.bottom-ad .col-5:hover img{
	border-color: #de525e;
}


.like{
	margin-top: 31px;
	overflow: hidden;
	*zoom:1;
}
.like-hd{
	height: 28px;
	line-height: 28px;
	font-style: normal;
	background: url(../img/bg-sprit.png) no-repeat center -608px; 
}
.like-hd a{
	margin-right: 12px;
}
.fi-item{
	width: 440px;
	height: 362px;
	float: left;
	padding-bottom: 10px;   /*ie6,7下浮动元素margin-bottom失效*/
}
.left-item{
	margin-right: 9px;
}
.fi-sidebar{
	width: 100px;
	height: 362px;
}
.fi-sidebar h3{
	height: 100px;
}
.fi-sidebar h3 img{
	width: 100px;
	height: 100px;

}
.fi-links{
	height: 262px;
	background-color: #ff3185;
	overflow: hidden;
}
.fi-links strong{
	display: block;
	font-size: 14px;
	color: #faf9fc;
	padding-top: 8px;
	text-indent: 8px;
	margin-bottom: 4px;
}
.fi-links div{
	margin-left: 8px;
}
.fi-links a{
	float: left;
	padding: 0 8px 0 9px;
	color: #fff;
	font-size: 12px;
	margin: 0 0 3px 3px;
	text-align: center;
	background-color: #ff5a9e;
	white-space: nowrap;
}
.fi-links a:hover{
	background-color: #fff;
	color: #ff4400;
}

.fi-con{
	width: 338px;
	height: 358px;
	border: 2px solid #ffd4e4;
	border-left:none;
	font-size: 0;
	background-color: #fff;
}
.fi-con-up{
	overflow: hidden;
	*zoom: 1;
}
.fi-con .fl{
	width: 100px;
}
.fi-con .fl a{
	display: block;
	padding: 9px 10px 10px;
}
.fi-con span{
	display: block;
	height: 24px;
	background-color: #fff;
	opacity: 0.8;
	filter: alpha(opacity=80);
	font-size: 12px;
	color: #3c3c3c;
	line-height: 24px;
	text-align: center;
	margin-top: -24px;
	position: relative;
}
.fi-cup-cen img{
	width: 100px;
	height: 199px;
}
.fi-cup-r img{
	width: 136px;
	height: 199px;
}
.fi-con-up a{
	border-bottom: 1px solid #efefef;	
}
.fi-cup-cen, .fi-cup-r{
	float: left;
	border-left: 1px solid #efefef;	
}
.fi-con-down{
	overflow: hidden;
	*zoom: 1;
}
.fi-con-down>a{
	float: left;
	width: 191px;
	height: 148px;
	padding: 10px 0 0 10px;
	border-right: 1px solid #efefef;
}
.fi-con-down>a span{
	padding-left: 50px;
}
.fi-con-down>a em{
	width: 50px;
	color: #fff;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	line-height: 24px;
	background-color: #fe6fa6;	
	position:absolute;
	left: 0;
	bottom: 0;
}
.fi-con-down>div{
	float: right;
}
.fi-con-down>div a{
	display: block;
	width: 126px;
	height: 69px;
	padding: 10px 0 0 10px;
	font-size: 12px;
	line-height: 0.8;
	border-bottom: 1px solid #efefef;
}
.fi-con-down>div img{
	float: right;
	width: 60px;
	height: 60px;
	margin-right: 8px;
}
.fi-con-down>div strong{
	display: block;
	padding-top: 10px;
	font-weight: bold;
}
.fi-con-down>div a:hover strong, .fi-con a:hover span, .fi-links a:hover{
	color: #ff4400;
}
.fi-links a:hover{
	background-color: #fff;
}
.fi-con a:hover span{
	opacity:1;
}
.like-hd a, .boxes-hd a{
	float: right;
	width: 59px;
	height: 20px;
	line-height: 20px;
	border-radius: 8px;
	font-size: 12px;
	color: #3c3c3c;
	background-color: #fff;
	text-align: center;
	margin-top: 4px;
}


#fashion{
	padding-top: 18px;
}
.boxes{
	width: 892px;
}
.boxes-hd{
	height: 27px;
	font-style: normal;
	background: url(../img/bg-sprit.png) no-repeat center -728px;	
}
.boxes-hd a{
	margin-right: 3px;
}
.boxes-wrap{
	margin-bottom: 10px;
	padding-left: 1px;
}
.boxes-wrap>div{
	float: left;
	width: 221px;
	height: 258px;
	background-color: #fff;
	border-right: 2px solid #eaeaea;
}
.boxes-wrap>div:hover{
	position: relative;
	box-shadow: 0px 0px 0px 1px #ff4400;
	border-color: transparent;
}
.boxes-wrap h3{
	height: 38px;
	text-align: center;
	line-height: 38px;
	border-bottom: 1px solid #eaeaea;
}

.boxes-wrap h3 img{
	height: 16px;
	vertical-align: middle;
}
.boxes-wrap h3 span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/scan_bg.gif) no-repeat;
	margin-left: 10px;
	vertical-align: middle;
	*display: inline;
	*zoom: 1;
}
.boxes-3 .fl{
	border-right: 1px solid #eaeaea;
	position: relative;
}
.boxes-3 .fl img{
	width: 90px;
	padding: 10px 10px 9px 11px;
}
.boxes-3 strong{
	width: 90px;
	height: 42px;
	color: #fff;
	text-indent: 6px;
	font-weight: normal;
	background-color: #ff0055;
	position: absolute;
	left: 11px;
	bottom: 9px;
}
.boxes-wrap .img1{
	padding: 9px 10px 11px 9px;
}
.boxes-wrap .img1 em{
	bottom: 11px;
}
.boxes-wrap .img2{
	padding: 10px 10px 8px 9px;
}
.boxes-wrap .img2 em{
	bottom: 8px;
}
.boxes-wrap a em{
	width: 90px;
	height: 19px;
	text-align: center;
	color: #000;
	opacity: 0.8;
	filter: alpha(opacity=80);
	background-color: #fff;
	position: absolute;
	left: 9px;
}
.boxes-wrap .img1 img, .boxes-wrap .img2 img{
	width: 90px;
	height: 90px;
}
.boxes-wrap .img1, .boxes-wrap .img2{
	float: left;
	position: relative;
}
.img1:hover em, .img2:hover em{
	color: #ff4400;
	opacity: 1;
	filter: alpha(opacity=100);
}
.boxes-wrap .last{
	border-right: none;
}
#quality{
	padding-top: 7px;
}
#quality .boxes-hd{
	background-position-y: -688px;
}
.boxes-2 h3{
	border-bottom: 1px solid #eaeaea;
}
.boxes-2 div img{
	display:block;
	width: 90px;
	height: 90px;
	padding-bottom: 9px;
}
.boxes-2 .boxes-pics{
	padding: 9px 10px 0px 13px;
}
.boxes-pics a{
	text-align: center;
	line-height: 23px;
}
.boxes-pics strong, .boxes-pics span{
	display: block;
}
.boxes-pics strong{
	font-size: 14px;
	color: #3c3c3c;
}
.boxes-links{
	padding-top: 5px;
	font-size: 0;
}
.boxes-links a{
	display: inline-block;
	width: 73px;
	white-space: nowrap;
	*display: inline;
	*zoom: 1;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
	color: #3c3c3c;
}
#feature {
	padding-top: 8px;
}
#feature .boxes-hd{
	background-position-y: -528px;
}


#affordable{
	padding-top: 8px;
}
#affordable .boxes-hd{
	background-position-y: -568px;
}
#affordable .boxes-1{
	width: 193px;
	height: 138px;
	padding-left: 10px;
	border-right:none;
	margin:1px 0 0 1px;
}
.boxes-1 .pic{
	width: 90px;
	height: 90px;
	margin: 5px 10px 0;
	float: right;
}
.boxes-1 h3{
	text-align: left;
	border: none;
}
.boxes-1 .info{
	height: 99px;
}
.boxes-1 .info em{
	display: block;
	height: 49px;
	color: #4c4d4e;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}
.boxes-1 .info span{
	display: block;
	font-weight: normal;
	color: #666;
}
.boxes-1 .info strong{
	display: block;
	width: 76px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	font-family: arial;
	color: #ff4400;
	font-weight: normal;
	border: 1px solid #ff4400;
	border-radius: 12px/10px;
}

#affordable .boxes-stretch{
	width: 268px;
	margin-left: 0;
}
.boxes-stretch h3 strong{
	padding-left: 78px;
	color: #dc3535;
	font-size: 14px;
	font-weight: normal;
}
.boxes-stretch .info{
	width: 152px;	
}
.rushing .info em{
	height: 42px;
	font-size: 12px;
	font-weight: normal;
}
.rushing .info strong{
	display: inline;
	border: none;
	font-size: 17px;
	color: #dc3535;
	font-weight: bold;
	line-height: 16px
}
.rushing .info span{
	color: #999999;
	font-size: 12px;
}


/*************************************************/
.side{
	width: 290px;	
}

.user{
	padding: 15px 0 22px 15px;
	background: url(../img/user_bg.png) no-repeat;
	border-bottom: 2px solid #eee;
}
.user-info{
	padding-right: 5px;
	text-align: center;
	color: #3c3c3c;
}
.user-pic a{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
}
.user-info p{
	line-height: 24px;
	text-indent: 20px;
	background: url(../img/bg-sprit.png) no-repeat 46px -877px;
}
.user-info p a{
	color: #ff4400;
}
.user-logout{
	overflow: hidden;
	*zoom: 1;
}
.user-logout a{
	float: left;
	width: 75px;
	height: 25px;
	font-size: 14px;
	line-height: 25px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	background-color: #ff4400;
	margin-right: 7px;
}
.user-logout .login-btn{
	width: 92px;
}


.side-tab{
	background-color: #fff;
	border-bottom: 1px solid #eaeaea;
}
.side-tab a{
	color: #3c3c3c;
}
.side-tab a:hover{
	color: #ff4400;
}
.tab-nav{
	height: 22px;
	padding: 13px 0 11px 8px;
}
.tab-nav li{
	float: left;
	height: 20px;
	line-height: 20px;
	width: 55px;
	text-align: center;
}
.tab-nav a{	
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 39px;
	color: #3c3c3c;
}
.tab-nav .active{
	font-weight: bold;
	border-bottom: 2px solid #ff4400;
}
.tab-con{
	height: 63px;
}
.tab-mod{
	display: none;
	overflow: hidden;
	*zoom: 1;
	padding: 0 0 13px 10px;
}
.tab-mod .first{
	width: 100%;
	color: #ff4400;
}
.tab-mod a{
	float: left;
	width: 50%;
	height: 25px;
	line-height: 25px;
}


.service{
	position: relative;
}
.service-list{
	overflow: hidden;
	border-bottom: 1px solid transparent;
}
.service-list li{
	position: relative;
	float: left;
	width: 70px;
	text-align: center;
	background-color: #fff;
	border: 1px solid transparent;
	border-right-color: #eaeaea;
	border-bottom-color: #eaeaea;
}
.service-list .between{
	width: 71px;
}
.service-list a{
	display: block;
	height: 67px;
	color: #666;
}
.service a:hover{
	color: #ff4400;
}
.service-list .last{
	height: 61px;
}
.serv-icon{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 24px;
	height: 24px;
	margin-top: 12px;
	background: url(../img/bg-sprit.png) no-repeat;
}
.service-item1 .serv-icon{
	background-position-y: 0px;
}
.service-item2 .serv-icon{
	background-position-y: -44px;
}
.service-item3 .serv-icon{
	background-position-y: -85px;
}
.service-item4 .serv-icon{
	background-position-y: -132px;
}
.service-item5 .serv-icon{
	background-position-y: -176px;
}
.service-item6 .serv-icon{
	background-position-y: -220px;
}
.service-item7 .serv-icon{
	background-position-y: -1052px;
}
.service-item8 .serv-icon{
	background-position-y: -308px;
}
.service-item9 .serv-icon{
	background-position-y: -352px;
}
.service-item10 .serv-icon{
	background-position-y: -396px;
}
.service-item11 .serv-icon{
	background-position-y: -440px;
}
.service-item12 .serv-icon{
	background-position-y: bottom;
}
.service .hover{
	z-index: 100;
	border: 1px solid #ff4400;
	border-bottom-color: #fff;
}

/*************************************/
.service-con{
	position: absolute;
	left: 0;
	top: 68px;
	z-index: 99;
	width: 288px;
	height: 150px;
	border: 1px solid #ff4400;
	background-color: #fff;
	overflow: hidden;
}
.service-con .close{
	position: absolute;
	right: 1px;
	top: 2px;
	width: 18px;
	height: 17px;
	line-height: 17px;
	font-family: 'icon';
	font-size: 18px;
	color: #9c9999;
}
.service-con .close:hover{
	color: #9c9999;
	background-color: #eee;
}
.service-con .service-tab li{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.recharge .service-tab{
	padding: 9px 0 0 15px;
}
.recharge .service-tab li{
	padding: 0 12px 0 10px;
}
.service-tab a{
	color: #666;
}
.service-tab-con{
	position: absolute;
	left:0px;
	top: 34px;
	width: 2000px;
	padding-left: 15px;
}
.service-con-mod{
	float: left;
	width: 288px;
}
.service-cost{
	width: 188px;
	border: 1px solid #ccc;
}
.number-wrap{
	position: relative;
	border-bottom: 1px solid #ccc;
}
.service-cost .city{
	position: relative;
}
.service-cost .city input{
	border: none;
}
.service-cost .number{
	height: 24px;
	line-height: 24px;
	padding-left: 4px;
	border: none;
}
.service-cost .help-info{
	position: absolute;
	right: -19px;
	top: 5px;
	width: 13px;
	height: 13px;
	background: url(../img/TB1GPH5JVXXXXckXFXXXXXXXXXX-8-20.png) no-repeat 0px -32px;
	cursor: help;
}
.number-record{
	position: absolute;
	right: 6px;
	top: 6px;
	width: 15px;
	height: 15px;
	background: url(../img/service_bg.gif) no-repeat;
}
.service-cost .denomin{
	position: relative;
	height: 20px;
	padding: 4px 0 0 5px;
	color: #000;
}
.service-cost .down-icon{
	float: right;
	width: 17px;
	height: 20px;
	background: url(../img/service_bg.gif) no-repeat 0px -20px ;
}
.service-cost .arrow{
	position: absolute;
	right: 10px;
	top: 50%;
	width: 8px;
	height: 5px;
	margin-top: -2px;
	background: url(../img/TB1GPH5JVXXXXckXFXXXXXXXXXX-8-20.png) no-repeat 0 -15px;	
}
.service-tab-con .arrow-icon{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 20px;
	height: 10px;
	padding-top: 10px;
	line-height: 5px;
	font-family: 'self-font';
	color: #ccc;
	font-size: 12px;
	overflow: hidden;
}
.service-tab-con .price{
	height: 29px;
	line-height: 29px;
	text-indent: 4px;
	color: #666;
}
.service-tab-con .yuan{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	text-align: center;
	color: #999;
	font-size: 10px;
	font-family: arial;
}
.service-tab-con .price span{
	font-size: 13px;
	font-weight: bolder;
	color: #ff6600;
}
.service-con-mod-ft{
	width: 200px;
	padding-top: 5px;
	overflow: hidden;
	*zoom: 1;
}
.service-con-mod-ft .price{
	float: right;
}
.service-tab-con .btn{
	float: left;
	height: 27px;
	padding: 0 10px;
	border-radius: 2px;
	background-color: #ff4400;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 27px;
}
.service-tab-con .btn:hover{
	background-color: #f22d00;
	color: #fff;
}
.service-tab-con .message{
	float: left;
	line-height: 27px;
	margin-left: 14px;
	color: #666;
}

.traffic-box{
	overflow: hidden;
	*zoom: 1;
}
.traffic-box .traffic-type{
	float: left;
	width: 88px;
	padding: 4px 0 0 5px;
	border-right: 1px solid #ccc;
}
.traffic-box .traffic{
	float: left;
	width: 88px;
	padding: 3px 0 0 5px;
	font-size: 10px;
	color: #271700;
}
#telephone .service-cost, #broadband .service-cost{
	width: 198px;
}
#telephone .number, #broadband .number,  .service-cost .city input{
	width: 188px;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}
#telephone .denomin, #broadband .denomin{
	height: 25px;
	line-height: 25px;
	padding: 0;
	padding-left: 10px;
}
#telephone .operator, #broadband .operator{
	height: 21px;
	padding: 4px 0 0 2px;
}
#telephone .operator label{
	margin-right: 22px;
}

/*********************************************************/
#game .service-tab{
	padding: 10px 0 0 15px;
}
#game .service-tab li{
	padding: 0 15px 0 7px;
}
#game .service-cost{
	width: 215px;
}
#game .game-name{
	border-bottom: 1px solid #ccc;
}
#game .title{
	float: left;
	width: 30px;
	height: 24px;
	border-right: 1px solid #dcdcdc;
	line-height: 24px;
	text-align: center;
	vertical-align: top;
	color: #666;
	background-color: #e5e5e5;
}
#game .game-name input{
	height: 24px;
	line-height: 24px;
	border: none;
	padding-left: 10px;
}
#game .denomin{
	height: 24px;
	padding: 0;
	line-height: 24px;
}
#game .denomin .figure{
	padding-left: 10px;
}
#game .price{
	float: left;
	height: 28px;
	text-indent: 0px;
	letter-spacing: 1px;
}
#game .paid-select{
	width: 217px;
	height: 28px;
	line-height: 28px;
}
#game .paid-select .paid-select-box{
	float: right;
}
#game .paid-select input{
	margin-right: 5px;
}
#game .paid-select .auto {
	padding-right: 8px;
}
#game .service-con-mod-ft{
	padding-top: 0;
}
#game .service-con-mod-ft .message{
	margin-left: 10px;
}
#QQ .service-cost{
	width: 256px;
	overflow: hidden;
	*zoom: 1;
}
#QQ .QQ-bussiness, #QQ .amount{
	float: left;
	height: 24px;
	line-height: 24px;
}
#QQ .QQ-bussiness{
	width: 124px;
	padding-left: 4px;
	border-right: 1px solid #ccc;
}
#QQ .amount{
	width: 122px;
	padding-left: 5px;
}
#QQ .service-con-mod-ft{
	width: 100%;
}
/*************************************/
#tourism .service-tab{
	padding-left: 16px;
	height: 34px;
	line-height: 34px;
}
#tourism .service-tab li{
	padding-right: 2px;
}
#tourism .tickets-type{
	color: #333;
}
#tourism .tickets-type label{
	margin-right: 20px;
}
.control-group-wrap{
	padding-bottom: 8px;
}
.control-group{
	overflow: hidden;
	*zoom: 1;
}
.control-group .control-item{
	position: relative;
	float: left;
	width: 118px;
	border: 1px solid #ccc;
	margin-right: 20px;
}
.control-item label{
	float: left;
	width: 30px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #6b6b6b;
	background-color: #f5f5f5;
}
.control-item input{
	float: left;       
	width: 68px;
	height: 24px;
	line-height: 24px;
	padding-left: 2px;
	border: none;
	border-width: 0;
}
.control-item .to{
	position: absolute;
	right: -16px;
	top: 14px;
	width: 10px;
	height: 12px;
	background: url(../img/tourism_bg.gif) no-repeat 0px -30px;
}
.control-item .position{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 14px;
	height: 18px;
	background: url(../img/tourism_bg.gif) no-repeat 0px 3px;
}
.control-item .date{
	position: absolute;
	right: 5px;
	top: 0px;
	width: 16px;
	height: 18px;
	background: url(../img/tourism_bg.gif) no-repeat 0px -64px;
}
#tourism .tips{
	position: absolute;
	left: 154px;
	top: 0px;
	color: #bbb;
}
#tourism .service-con-mod-ft {
	width: 100%;
	padding: 0px;
}


/****************************************/
#insurance .service-tab{
	height: 34px;
	line-height: 34px;
	padding-left: 15px;
}
#insurance .service-tab li{
	padding: 0 8px;
}
#insurance .control-group-wrap{
	padding-bottom: 18px;
}
#insurance .control-item{
	width: 257px;
}
#insurance .control-item label{
	width: 64px;
}
#insurance .continue-btn{
	float: left;
	height: 27px;
	padding: 0 10px;
	margin-left: 14px;
	border: 1px solid #dcdcdc;
	color: #3e3e3e;
	text-align: center;
	line-height: 27px;
}




/*****************************************************/
.app-icons{
	padding-left: 14px;
	background-color: #fff;
	margin-bottom: 11px;
}
.app-icons h3{
	height: 32px;
	line-height: 32px;
	color: #3c3c3c;
	font-size: 14px;
}
.app-icons h3 a{
	float: right;
	margin-right: 16px;
	font-weight: normal;
	font-size: 12px;
}
.app-list{
	overflow: hidden;
	*zoom: 1;
}
.app-list li{
	float: left;
	margin: 0 21px 8px 0;
	border: 1px solid transparent;
}
.app-list img{
	width: 32px;
	height: 32px;
}


.news{
	background-color: #fff;
	padding: 10px 0;
}
.news h3{
	padding-right: 11px;
	height: 17px;
	overflow: hidden;
	*zoom: 1;
	background: url(../img/bg-sprit.png) no-repeat 10px -769px;
}
.news h3 a{
	float: right;
	vertical-align: bottom;
	font-weight: normal;
	color: #3c3c3c;
	font-size: 12px;
}
.news-con{
	padding: 13px 17px 0 12px;
	width: 262px;
	height: 60px;
	position: relative;
	overflow: hidden;
}
.news-list{
	height: 100%;
}
.news-list li{
	height: 100%;
	overflow: hidden;
}
.news-list li img{
	float: left;
	width: 60px;
	height: 35px;
	margin-right: 10px;
}
.news-list li strong{
	display: block;
	font-size: 14px;
	height: 20px;
	color: #333;
	line-height: 20px;
	overflow: hidden;
	margin-bottom: 6px;
}
.news-list li p{
	color: #666;
	line-height: 16px;
	overflow: hidden;
}


.discover-goods{
	margin-top: 9px;
	padding: 14px 10px 0 8px;
	background-color: #fff;
}
.discover-goods h3{
	height: 22px;
	background: url(../img/bg-sprit.png) no-repeat 0px -648px;
}
.goods-list li{
	margin-top: 15px;
	overflow: hidden;
	*zoom:1;
}
.goods-list li img{
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 10px;
}
.goods-list li strong{
	display: block;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	color: #3c3c3c;
	overflow: hidden;
}
.goods-list li p{
	height: 40px;
	line-height: 20px;
	color: #666;
	font-size: 12px;
	overflow: hidden;
}
.goods-list li span{
	display: block;
	margin-top: 6px;
	color: #68acf5;
	font-weight: bold;
}
.refresh-goods{
	height: 39px;
	line-height: 39px;
	font-size: 14px;
	text-align: center;
	color: #666;
	cursor: pointer;
}
.refresh-goods:hover{
	color: #ff4400;
}
.refresh-icon{
	font-family: 'icon';
	font-size: 16px;
	font-style: normal;
	margin-right: 5px;
}



.discover-shop{
	background-color: #fff;
	padding: 15px 0 7px 0;
	margin-top: 10px;
}
.discover-shop h3{
	height: 21px;
	background: url(../img/bg-sprit.png) no-repeat 8px -806px;
}
.shop-goods li{
	padding: 15px 9px 6px 10px;
	border-bottom: 2px solid #f5f5f5;
}
.shop-goods li strong{
	font-size: 14px;
	font-weight: 700;
	color: #3c3c3c;
}
.shop-goods li p{
	margin-bottom:6px;
	color: #999;
}
.shop-goods .pics{
	overflow: hidden;
	*zoom: 1;
}
.shop-goods .pics a{
	float: right;
	border: 1px solid transparent;
	border-right: none;
}
.shop-goods .pics img{
	width: 89px;
	height: 89px;
}
.shop-goods .pics .big{
	width: 180px;
	height: 180px;
}
.shop-goods .last{
	border-bottom: none;
}
.shop-goods a:hover img{
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.more-shop{
	display: block;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-size: 14px;
	color: #666;
}
.look-icon{
	margin-right: 6px;
	font-family: 'icon';
	color: #888;
	font-size: 24px;
	font-style: normal;
	vertical-align: middle;
}
.discover-shop li a:hover strong, 
.discover-shop .more-shop:hover, 
.discover-shop .more-shop:hover .look-icon{
	color: #ff4400;
}



.side-ad{
	padding-top: 5px;
}
.side-ad h3{
	height: 40px;
	line-height: 40px;
	color: #3c3c3c;
	font-weight: bold;
	font-size: 14px;
}
.side-ad .pic{
	display: block;
	padding-left: 5px;
}
.side-ad img{
	width: 285px;
	height: 242px;
}



.newsale{
	width: 1190px;
	margin: 9px auto;
	background-color: #fff;
	overflow: hidden;
}
.newsale h2 .icon{
	background-position-y: 0px;
}
.newsale .sale-list{
	padding: 6px 0 10px 11px;
	overflow: hidden;
	*zoom:1;
}
.sale-list li{
	float: left;
	border-right: 1px solid #e8e8e8;
	padding: 0 9px 0 10px;
}
.sale-list a{
	color: #6c6c6c;
}
.sale-list a:hover{
	color: #ff4400;
}
.newsale-item{
	float: left;
	width: 396px;
}
.newsale-item .fl{
	width: 214px;
	padding: 10px 10px 7px 9px;
	height: 380px;
	position: relative;
	border: 1px solid #e8e8e8;
	border-bottom: none;
}
.newsale-item .fl img{
	width: 214px;
	height: 214px;
}
.newsale-item .fl strong{
	display: block;
	font-size: 15px;
	color: #ff4400;
	font-family: arial;
	padding-top: 10px;
}
.newsale-item em{
	color: #9c9c9c;
}
.newsale-item span{
	color: #fefefe;
	display: inline-block;
	width: 26px;
	height: 14px;
	line-height: 14px;
	text-align: center;
	background-color: #8dc04d;
}
.newsale-item .fl p{
	margin-top: 16px;
	color:#6c6c6c;
}
.newsale-item .foot{
	position: absolute;
	bottom: 4px;
	left: 10px;
}
.newsale-item .foot a{
	margin-right: 11px;
}

.newsale-item .fr div{
	height: 188px;
	padding: 10px 11px 0;
	border-top: 1px solid #e8e8e8;
}
.newsale-item .fr img{
	width: 139px;
	height: 139px;
}
.newsale-item .fr strong{
	display: block;
	font-family: arial;
	color: #ff4400;
	padding-top: 5px;
}

.newsale-ads{
	border: 1px solid #e8e8e8;
	border-right: none;
	overflow: hidden;
	*zoom:1;
	clear: both;
}
.newsale-ads li{
	float: left;
	border-right: 1px solid #e8e8e8;
	padding: 10px 10px 14px;
}



.live .icon{
	background-position-y: -25px;
}
.live-list{
	overflow: hidden;
	*zoom: 1;
}
.live-list li{
	width: 160px;
	height: 230px;
	float: left;
	padding-right: 25px;
	position: relative;
}
.live-list li a{
	display: block;
	margin-bottom: 5px;
	position: relative;
}
.live-list a img{
	width: 160px;
	height: 160px;
}
.live-list a h3{
	position:absolute;
	left: 5.72%;
	bottom: 3.75%;
	width: 94%;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
}
.live-list .play{
	position: absolute;
	left: 38.75%;
	top: 40.62%;
	width: 36px;
	height: 30px;
	background: url(../img/live/TB13r5yNVXXXXXwXXXXXXXXXXXX-36-30.png) no-repeat;
}
.live-list .name{
	height: 22px;
	text-indent: 40px;
	color: #333333;
}
.portrait{
	position: absolute;
	top: 0;
	left: 8px;
	border: 1px solid #fff;
	border-radius: 50%;
	overflow: hidden;
}
.portrait img{
	width: 27px;
	height: 27px;
}
.live-list .targ{
	width: 40px;
	height: 18px;
	float: left;
	color: #fff;
	background-color: #ff3031;
	border-radius: 7px;
	text-align: center;
}
.live-list .watch{
	float: right;
	color: #999999;
}
.live-list .double{
	width: 390px;
	height: 460px;
	padding: 0 30px 0 29px;
}
.live-list .double img{
	width: 390px;
	height: 390px;
}
.live-list .double h3{
	font-size: 18px;
}
.live-list .double .play{
	width: 70px;
	height: 58px;
	background-size: 70px 58px;
}


.live, .list, .recommend{
	width: 1190px;
	background-color: #fff;
	margin: 20px auto 0;
	overflow: hidden;
}
.live-hd, 
.newsale h2, 
.list-hd, 
.recommend-hd{
	width: 100px;
	height: 30px;
	color: #3c3c3c;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	margin: 15px auto;
	position: relative;
}
.icon{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 22px;
	height: 24px;
	vertical-align: middle;
	background: url(../img/hdicon.png) no-repeat center 0;
}
.newsale h2:after,
.newsale h2:before,
.live-hd:after,
.live-hd:before, 
.list-hd:after, 
.list-hd:before,
.recommend-hd:after,
.recommend-hd:before{
	content:'';
	position: absolute;
	top: 12px;
	width: 60px;
	border-top: 1px solid #e6e6e6;
}
.live .live-hd:before,
.newsale h2:before, 
.list-hd:before,
.recommend-hd:before{
	left: -74px;
}
.live .live-hd:after,
.newsale h2:after, 
.list-hd:after,
.recommend-hd:after{
	right: -74px;	
}



.list .icon{
	background-position-y: -48px;
}
.list-item{
	float: left;
	width: 570px;
	padding: 0  0 14px 20px; 
}
.second{
	padding-top: 10px;
}
.list-item a{
	display: block;
}
.list-item h3, .list-item p{
	font-size: 16px;
	color: #999;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.list-item h3{
	color: #333;
	font-weight: normal;
}
.list-item p{
	height: 42px;
	color: #999;
	line-height: 42px;
}
.list-item .pics{
	font-size: 0;
	border-left: 3px solid #f4f4f4;
}
.list-item .pics img{
	width: 180px;
	height: 180px;
	border: 3px solid #f4f4f4;
	border-left: none;
}
.list-item .desc{
	height: 54px;
	line-height: 54px;
}



.recommend{
	position: relative;
	padding-bottom: 22px;
	border-bottom: 1px solid #dddddd;
}
.recommend .icon{
	background-position-y: -70px;
}
.recommend .intro{
	position: absolute;
	left: 45%;
	top: 36px;
	color: #999;
}
.recommend .shop-list{
	padding-left: 21px;
	font-size: 0;
}
.recommend .shop-list li{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 222px;
	border: 1px solid #f5f5f5;
	font-size: 12px;
	background-color: #f5f5f5;
	margin: 0px 8px 28px 0;
	padding-bottom: 10px;
}
.shop-list li a{
	display: block;
}
.shop-list li img{
	width: 222px;
	height: 222px;
}
.shop-list .desc{
	color: #6c6c6c;
	padding: 4px 12px 14px;
}
.shop-list .sold{
	float: right;
	color: #9ca0aa;
	padding-right: 12px;
}
.shop-list .price{
	color: #ff4482;
	font-size: 17px;
	font-weight: normal;
	font-family: arial;
	padding-left: 12px;
}
.recommend .end{
	position: absolute;
	bottom: 9px;
	left: 543px;
	width: 104px;
	text-align: center;
	font-size: 16px;
	color: #ccccd8;
	font-family: arial;
}
.recommend .end:before,
.recommend .end:after{
	content:'';
	width: 60px;
	border-bottom: 1px solid #e6e6e6;
	position: absolute;
	top: 50%;
}
.recommend .end:before{
	left: -60px;
}
.recommend .end:after{
	right: -60px;
}


@font-face {
	font-family: 'icon';
	src:  url('../fonts/font_1475912685_3576825.eot');
	src:  url('../fonts/font_1475912685_3576825.eot?#iefix') format('embedded-opentype'), 
	url('../fonts/font_1475912685_3576825.ttf') format('truetype'),
	url('../fonts/font_1475912685_3576825.woff') format('woff'),
	url('../fonts/font_1475912685_3576825.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.helper-icon{
	font-family: 'icon';
	font-size: 32px;
	color: #999;
	vertical-align: top;
	*vertical-align: middle;
	margin-right: 12px;
}
.helper{
	padding-top: 31px;
	height: 169px;
}
.helper .mod{
	width: 24.99%;
	float: left;
}
.helper .mod-wrap{
	padding:0 26px 0 25px;
}
.helper h4{
	height: 62px;
	line-height: 62px;
	font-size: 16px;
	color: #3c3c3c;
}
.helper .links{
	font-size: 0;
}
.helper .links a{
	margin-right: 14px;
	white-space: nowrap;
	line-height: 21px;
	font-size: 12px;
	color: #999;
}
.helper .links a:hover{
	color: #ff4400;
}



#footer{
	background-color: #fff;
}
.friend-links{
	margin: 0 auto;
	border-top: 1px solid #ddd;
	padding: 8px 0 7px 4px;
	line-height: 27px;
	font-size: 12px;
}
#footer .pipe{
	margin: 0 6px 0 9px;
	color: #ddd;
}
#footer a:hover{
	color: #ff4400;
}

.footer-con {
	padding: 5px 0 0 5px;
	border-top: 1px solid #ddd;
	line-height: 26px
}
.footer-con a{
	margin-right: 4px;
}
.footer-con em{
	padding-left: 26px;
	color: #9c9c9c;
}
.footer-con span{
	color: #9c9c9c;
}
.footer-con .img{
	padding: 0 9px;
	vertical-align: middle;
}
